# Cookie Signing/Encyption key (Hex, length 128 string, WITHOUT `0x` prefix) (required)
# Generate a random key using `openssl rand -hex 64`
# This is a secret, avoid using the example value in production
COOKIE_KEY=1267b291500365c42043e04bc69cf24a31495bd8936fc8d6794283675e288fad755971922d45cf1ca0b438df4fc847f39cb0b2aceb3a45673eff231cddb88dc9

# Google Client ID
GOOGLE_CLIENT_ID=
# Google Client Secret
GOOGLE_CLIENT_SECRET=
# Google Login redirect URL
GOOGLE_REDIRECT_URL=http://127.0.0.1:3000/oauth_callback

# JWT ED25519 Private Key PEM
# generated using `openssl genpkey -algorithm ed25519 -out jwt_ed.pem`
# Do not use the example value in production, generate your own
JWT_ED_PEM="-----BEGIN PRIVATE KEY-----
MC4CAQAwBQYDK2VwBCIEIF7hq2r9TEJF4YIHEeB+NiSkKZZSERtbrLL+7gRkdiTb
-----END PRIVATE KEY-----"

# JWT ED25519 Public Key PEM
# generated using `openssl pkey -in jwt_ed.pem -pubout -out jwt_pub_ed.pem`
# Do not use the example value in production, generate your own
JWT_PUB_ED_PEM="-----BEGIN PUBLIC KEY-----
MCowBQYDK2VwAyEAxNfNUuwb7mAcV2KyEOcOJun1YMwNO5/IJmpVnFGcLUc=
-----END PUBLIC KEY-----"

# JWT ED25519 Private key for generating Client secrets
# generated using `openssl genpkey -algorithm ed25519 -out jwt_client_ed.pem`
# Do not use the example value in production, generate your own
# Ensure this is different from `JWT_ED_PEM`
CLIENT_JWT_ED_PEM="-----BEGIN PRIVATE KEY-----
MC4CAQAwBQYDK2VwBCIEIOsSVutDjrpiFgEMRZOp0Ilck64L30p+F6KBw26WRDo4
-----END PRIVATE KEY-----"

# JWT ED25519 Public Key for verifying Client secrets
# generated using `openssl pkey -in jwt_client_ed.pem -pubout -out jwt_client_pub_ed.pem
# Do not use the example value in production, generate your own
# Ensure this is different from `JWT_PUB_ED_PEM`
CLIENT_JWT_PUB_ED_PEM="-----BEGIN PUBLIC KEY-----
MCowBQYDK2VwAyEAt0gp8DzX2n3C2zEaUw1ul7mAf/pZ1qMvK6QeSjFNR6I=
-----END PUBLIC KEY-----"

# Redis URL
# required if `redis-kv` feature is enabled
REDIS_URL=