name: Deploy to Fly on push to main
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build_check:
    uses: ./.github/workflows/build-check.yml
    with:
      publish-artifact: true

  deploy:
    name: Deploy
    needs: build_check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: build-musl

      - run: chmod +x target/x86_64-unknown-linux-musl/release/yral-auth-v2

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Set secret tokens
        run: |
          flyctl secrets set COOKIE_KEY="$COOKIE_KEY" --app "yral-auth-v2" --stage
          flyctl secrets set REDIS_URL="$REDIS_URL" --app "yral-auth-v2" --stage
          flyctl secrets set GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET --app "yral-auth-v2" --stage
          flyctl secrets set JWT_ED_PEM="$JWT_ED_PEM" --app "yral-auth-v2" --stage
        env:
          FLY_API_TOKEN: ${{ secrets.YRAL_AUTH_V2_FLY_IO_GITHUB_ACTION }}
          COOKIE_KEY: ${{ secrets.AUTH_SESSION_COOKIE_SIGNING_SECRET_KEY }}
          REDIS_URL: ${{ secrets.AUTH_FLY_IO_UPSTASH_REDIS_DATABASE_CONNECTION_STRING }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_SIGNING_OAUTH_CLIENT_CREDENTIAL_CLIENT_SECRET }}
          JWT_ED_PEM: ${{ secrets.AUTH_JWT_ED_PEM }}
      - name: Deploy a docker container to Fly.io
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.YRAL_AUTH_V2_FLY_IO_GITHUB_ACTION }}
